.btn {
    display: block;
    width: 425px;
    background: #125bee;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.label {
    width: 430px;
    color: #393939;
    margin-top: -34px;
    margin-left: 98px;
}

.checkbox {
    width: 5%;
    font-size: 17px;
    border-radius: 4px;
    height: 20px;
    margin-left: 65px;
}

.circle {
    width: 42px;
    height: 42px;
    background-color: transparent;
    border-radius: 50%;
    margin-top: -35.5px;
    margin-left: 54.5px;
}

.checkbox:focus ~ .circle {
    background-color: #eaeaea;
}

.checkbox:checked ~ .circle {
    background-color: #d5e1f9;

}

.checkbox:checked ~ .label {
    margin-top: -34px;
}

.checkbox:checked ~ .btn {
    margin-top: 20px;
}
