.btn {
    display: block;
    width: 425px;
    background: #125bee;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.label {
    width: 130px;
    margin-left: -180px;
    margin-top: -25px;
    color: #393939;
}

.forgotPassword {
    margin-left: 250px;
    margin-top: -30px;
}

.checkBox {
    width: 5%;
    margin: 10px 34px;
    font-size: 17px;
    border-radius: 4px;
    flex: 0.22;
    height: 20px;
    z-index: 1;
}

.checkBox:checked~.circle {
    width: 35px;
    height: 35px;
    background-color: #d5e1f9;
    border-radius: 50%;
    margin-top: -37px;
    margin-left: 27px;
}

.checkBox:checked~.forgotPassword {
    margin-top: -28px;
}

.checkBox:checked {
    margin-top: 10px;
}

.checkBox:checked~a {
    margin-top: -2px;
}

.checkBox:checked~.btn {
    background-color: #125bee;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: #393939;
}

