.buttonBox {
    width: 220px;
    height: 47px;
    margin: 10px;
    position: relative;
}

.toggleBtnLogin {
    left: -10px;
    top: 0;
    padding: 13px 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    position: relative;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 205px;
    height: 100%;
    background: #125bee;
    border-radius: 5px;
    font-weight: bold;
}

.toggleBtnRegister {
    left: 220px;
    top: -47px;
    padding: 13px 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    position: relative;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    height: 100%;
    background: #125bee;
    border-radius: 5px;
    font-weight: bold;
}

.toggleBtnRegister:active {
    transform: scale(0.98);
}

.toggleBtnLogin:active {
    transform: scale(0.98);
}

.toggleBtnLogin:focus,
.toggleBtnRegister:focus{
    background-color: #f4f4f4;
    color: #393939;
}
